<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://conteudo.imguol.com.br/c/noticias/a5/2018/08/13/representativa-vingadores-guerra-infinita-1534193484612_v2_750x421.jpg"
        height="200px"
        alt=""
      >
    </div>
    <div class="small-card__title">
      <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
    </div>
  </div>

  <div class="container__small-card___separator">
    <hr>
  </div>
</div>
